<table class="table table-striped table-dark" id="dataTablesRequestManager">
    <thead>
        <tr>
            <th>

                Travel Purpose
            </th>
            <th>
                Destination
            </th>
            <th>
                From
            </th>
            <th>
                Until
            </th>
            <th>
                Total Budget
            </th>
            <th>
                Status
            </th>
            <th>
                Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="modal fade" id="modalRequestManager" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalContentRequestManager">

        </div>
    </div>
</div>